@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@media screen and (max-width: 768px) {
  #navbarCollapse {
    align-items: center;
    text-align: center; }
  #images {
    padding-bottom: 75px; } }

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: white;
    transition: all 0.5s ease-out; }

.navbar {
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
  background: linear-gradient(to right, #182848, #4b6cb7); }
  .navbar .nav-item .nav-link {
    color: white;
    margin: 10px;
    font-weight: 700; }
    .navbar .nav-item .nav-link:hover {
      background-color: #2a22a7;
      color: #ffffff;
      border-radius: 15px;
      transition: all 0.5s ease-out; }

#main {
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
  background: linear-gradient(to right, #182848, #4b6cb7); }

#info {
  background: #141e30;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243b55, #141e30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff; }
  #info h4 {
    font-weight: 700; }

#footer {
  background: #000428;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white; }

.card {
  background: transparent;
  color: white; }
  .card h1 {
    color: white;
    font-weight: 700; }
  .card h5 {
    font-weight: 700; }
  .card .card-header {
    background-color: transparent; }
  .card .btn {
    background-color: white;
    color: #1b61e4; }
