@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@media screen and (max-width: 768px) {
  #navbarCollapse {
    align-items: center;
    text-align: center; }
  #images {
    padding-bottom: 75px; } }

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: white;
    transition: all 0.5s ease-out; }

.navbar {
  border-bottom: 2px solid #2a22a7;
  background-color: #1b116d; }
  .navbar .nav-item .nav-link {
    color: white;
    margin: 10px;
    font-weight: 700; }
    .navbar .nav-item .nav-link:hover {
      background-color: #2a22a7;
      color: #ffffff;
      border-radius: 15px;
      transition: all 0.5s ease-out; }

#main {
  background-color: #4169e1; }

#info {
  background-color: #6495ed;
  color: #ffffff; }
  #info h4 {
    font-weight: 700; }

#footer {
  background-color: #bbd0f7;
  color: #5e5e5e; }

.card {
  background-color: #4169e1;
  color: white; }
  .card h1 {
    color: white;
    font-weight: 700; }
  .card h5 {
    font-weight: 700; }
  .card .card-header {
    background-color: #4169e1; }
  .card .btn {
    background-color: white;
    color: #1b61e4; }
