@include mediaMd {
  #navbarCollapse {
    align-items: center;
    text-align: center;
  }

  #main {
    padding: 20px 0;
    background-attachment: scroll;
  }
  #main-about {
    background-attachment: scroll;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
  }
}
