@import "config";
@import "mobile";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: $secondary-color;
    @include easeOut;
  }
}
.navbar {
  .nav-item .nav-link {
    color: white;
    margin: 10px;
    font-weight: 700;
    &:hover {
      background-color: $primary-color;
      color: #ffffff;
      border-radius: 15px;
      @include easeOut;
    }
  }
  border-bottom: 2px solid $primary-color;
  background-color: #1b116d;
}
#main {
  background-color: #4169e1;
}
#info {
  background-color: #6495ed;
  color: #ffffff;
  h4 {
    font-weight: 700;
  }
}
#footer {
  background-color: #bbd0f7;
  color: #5e5e5e;
}
.card {
  background-color: #4169e1;
  h1 {
    color: white;
    font-weight: 700;
  }
  h5 {
    font-weight: 700;
  }
  .card-header {
    background-color: #4169e1;
  }
  .btn {
    background-color: white;
    color: #1b61e4;
  }
  color: white;
}
